<section class="announcements">
  <div class="container">
    <h2><i class="fas fa-bullhorn"></i> Parish Announcements</h2>
    <ul class="announcement-list">
      <% announcements.forEach(announcement => { %>
        <li><%= announcement %></li>
      <% }); %>
    </ul>
  </div>
</section>
