<header class="site-header">
  <div class="container">
    <div class="logo">
      <h1><%= title %></h1>
      <p>Serving the Catholic community since 1892</p>
    </div>
    <nav class="main-nav">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Mass Times</a></li>
        <li><a href="#">Sacraments</a></li>
        <li><a href="#">Ministries</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
